                               /* Button Desgin */
/*    background: linear-gradient(270deg, rgba(254, 71, 45, 1), rgba(251, 154, 76, 1));
} */
*{
    margin: 0;
    padding: 0;
}
.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    width: 100vw;
    background: rgba(229, 229, 229, 1);
}
.wrapper{
    width: 1440px;
    margin: 0 auto ;
    background: rgba(255, 255, 255, 1);
    /* background: rgba(229, 229, 229, 1); */
}
 

                  /* Shared Styles */

.display-flex{
    display: flex;
}
.description{
color: rgba(130, 130, 130, 1);
font-family: Montserrat;
font-size: 1.25rem;
font-weight: 500;
line-height: 160%;
letter-spacing: -2%;
margin-bottom: 50px;
} 

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
}

.btn{
color: rgba(255, 255, 255, 1);    
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 130%;
padding: 22.5px 43px;
background: linear-gradient(270deg, rgba(254, 71, 45, 1), rgba(251, 154, 76, 1));
border-radius: 100px;
box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
border: 0;
}

                 /* Main Style */

header{
    width: 100%;
    height: 800px;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 100px;
}
.hero{
justify-content: space-between;
align-items: center;
margin: 0 50px 0 100px;
}  
.hero-title{
color: rgba(87, 87, 87,1);
font-family: Montserrat;
font-size: 3.75rem;
font-weight: 700;
line-height: 130%;
letter-spacing: -2%;
margin-bottom: 40px;
}   
.hero-description{
margin-bottom: 50;
}
.hero-img{
   margin-top: 60px;
   background: url('../images/shapes/Group-8450.png');
   background-size: contain; 
   background-position: right bottom;
   background-repeat: no-repeat;
}  
.hero-img img{
margin-right:48px ;
margin-bottom:26px ;
} 


.about-me{
    width: 100%;
    height: 600px;
    background: url('../images/shapes/7.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 72px;
    justify-content: center;
    align-items: end;
}
.about-me-content{
    flex-direction: row-reverse;
    gap: 246px;
    align-items: center;
}
.about-me-img img{
    width: 338px;
    height: 536px;
}
.about-me-title{
color: rgba(112, 112, 112, 1);
font-family: Montserrat;
font-size: 40px;
font-weight: 700;
margin-bottom: 32px;
}
.about-me-description{
width: 444px;
margin-bottom: 90px; 
}



.my-recipies{
    width: 100%;
    margin-bottom: 100px;
}
.my-recipies-title{
color: rgba(103, 103, 103, 1);
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
text-align: center;
margin-bottom: 30px;
}
.my-recipies-description{
width: 706px;    
margin:0 auto 38px;
text-align: center;
}

.my-recipies-cards{
    justify-content: center;
    gap: 20px;
}
.my-recipies-card{
padding: 30px 30px 54px;
border-radius: 30px;
box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
}
.my-recipies-card img{
    width: 550px;
    height: 308px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.my-recipies-cards-title{
 font-family: Montserrat;
font-size: 28px;
font-weight: 800;
margin-bottom:10px ;   
}
.my-recipies-cards-description{
    width: 534px;
}


.socials-numbers{
    width: 1239px;
    height: 226px;
    margin: 0 auto 92px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}
.numbers{
font-family: Montserrat;
font-size: 48px;
font-weight: 700;
margin-bottom: 20px;
}
.social{
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
}



footer{
    width: 100%;
    height: 256px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}
.footer-title{
font-family: Montserrat;
font-size: 30px;
font-weight: 600;
margin-bottom: 36px;
}
.footer-description{
color: rgba(255, 255, 255, 1);
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
}

@media screen and (max-width:576px) {
    .wrapper{
        width: 100%;
        margin: 0;
    }

    .wrapper header{
        width: 100%;
        height: auto;
    }
    .hero{
       width: 90%;
       margin: 0 auto; 
       flex-direction: column;
    }
    .hero-img img{
        width: 100%;
        margin: -36px 0 0 -8px;
    }



    .about-me{
     width: 100%;
     height: auto;
     background-position: bottom;
    }
    .about-me-content{
        flex-direction: column;
        width: 90%;
        text-align: center;
        gap: 80px;    
    }
    .about-me-img img{
        width: 90%;
        height: auto;
    }
    .about-me-description{
        width: 90%;    
    }


    .my-recipies{
    }
    .my-recipies-description{
         width: 90%;       
        }
    .my-recipies-cards{
         flex-direction: column;
         width: 90%;
         margin: 0 auto;
    }  
    .my-recipies-card{
        
        padding: 30px 15px 54px;
       }
    .my-recipies-card img{
        width: 100%;
        height: 80%;
    }
    .my-recipies-cards-description{
        width: 100%;
    } 


    
    .socials-numbers{
        width: 85%;
        height:80vh ;
        flex-direction: column;
    }


    .wrapper footer{
        height: 180px;
        text-align: center;
    }
}
